.aboutMain {
  background: #292c2e;
  color: #fff;

  min-height: 86vh;
  padding: 5vh 1vw;

  display: flex;
  flex-direction: column;
  gap: 5vh;

  h1 {
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;

    color: #08fdd8;
  }

  .contentSection {
    min-height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .mainTextSection {
      height: 100%;
      width: 35%;

      display: flex;
      flex-direction: column;
      gap: 4vh;

      p {
        font-size: 1rem;
        font-family: "Open Sans", sans-serif;
        color: #fff;

        a {
          text-decoration: none;
          color: #fd2155;

          &:hover {
            text-decoration: underline;
          }
        }

        img {
          width: 25px;
          height: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .aboutMain {
    align-items: center;

    .contentSection {
      justify-content: center;

      .mainTextSection {
        width: 90%;
      }
    }
  }
}
